@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    font-size: calc(100vw / 1920 * 10);

}

@media (max-width: 1024px) {
    html {
        font-size: calc(100vw / 786 * 10);
    }
}

@media (max-width: 767px) {
    html {
        font-size: calc(100vw / 500 * 10);
    }
}

@media (max-width: 500) {
    html {
        font-size: calc(100vw / 360 * 10);
    }
}

* {
    font-size: 2rem;
}

p,
span {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.borderB {
    border-bottom: 1px solid #757575;
}